# --- Framework Principal ---
Flask
gunicorn

# --- Base de Datos (PostgreSQL) ---
Flask-SQLAlchemy
psycopg2-binary

# --- Autenticación y Seguridad ---
Flask-Login
Werkzeug

# --- Motor de Búsqueda y WhatsApp ---
selenium
fuzzywuzzy
python-Levenshtein

Flask-Migrate  # <-- AÑADIR ESTA LÍNEA